body{
  margin:0;
  padding:0;
  min-height: 100vh;
  background-color: azure;
}
button{
  cursor: pointer;
  border:none;
}
.form-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container form{
  padding: 40px;
}
.form-container form input{
  min-width: 150px;
  padding: 10px 50px ;
  margin-right: 3px;
  border: 1px solid #bf40bf;
}
.form-container form button{
  padding: 10px 50px ;
  cursor: pointer;
  border: 1px solid #d279d2;
  background: #d279d2;
  color: #fff;

}
.form-container form button:hover{
  background-color: #bf40bf;
}
.tasklists li{
  min-width: 250px;
  display: flex;
  justify-content: space-between;
}
